.test-link {
    color: gold;
}
.sidebarContent {
    margin-bottom: 9px;
    min-height: 300px;
    background-color: silver;
    text-align: center;
    font-size: 2em;
}
.mainContent {
    margin-bottom: 5px;
    min-height: 610px;
    background-color: silver;
    text-align: center;
    font-size: 2em;
}
.header {
    min-height: 140px;
    background-color: silver;
    text-align: center;
    font-size: 2em;
}
.footer {
    min-height: 100px;
    background-color: silver;
    text-align: center;
    font-size: 1em;
    border: slategray;
    }
.footerRow {
    margin: 0px;
}