body {
    font-family: 'Mukta', sans-serif;
    font-weight: 400;
}
.col-2 {
    max-width: 100%;
    height: auto;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}
.logo {
    border-radius: 50%;
}
.leftlogodiv {
    height: 80px;
    margin-bottom: 20px;
}
.imageDivLeft {
    height: 100px;
    
}
.imageDivRight {
    height: 100px;
    
}

.center {
    text-align: center;
}
.customFont {
    font-family: 'Mukta', sans-serif;
    font-weight: 700;
    font-size: 3em;
}
nav.custom-nav {
    color: cornflowerblue;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}
