body {
}
.logo2 {
    position: absolute;
    top: 60px;
    right: 0px;
    height: 100px;
    background-size: 100px;
    margin-top: 10px;
    border-radius: 15px;
}

.logo {
    position: absolute;
    top: 60px;
    left: 80px;
    height: 100px;
    background-size: 100px;
    margin-top: 10px;
}
.center {
    text-align: center;
}
.customFont {
    font-family: 'Mukta', sans-serif;
}


