@{
    ViewData["Title"] = "Home Page";
}


 
<form class="form-inline my-2 my-lg-0">
     <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
     <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>

 <div class="embed-responsive embed-responsive-16by9">
     <iframe class="embed-responsive-item"
      src="https://www.google.com/maps/embed/v1/view?zoom=10&center=43.0389,-87.9065&key=@VetRS.APIKeys.GoogleMapsKey"></iframe>

 </div>

   