@section Styles {
    <link rel="stylesheet" href="~/css/user.css" />
}

@{
    ViewData["Title"] = "Home Page";

}


<br />

<br />
<div class="row">
    <div class="col-2 leftlogodiv">
        <figure class="imageDivLeft">
            <img class="img-fluid leftlogo" src="/assets/vetrs.png" alt="Soldier on knees with big backpack and carrying rifle.">
        </figure>
    </div>
    <div class="col-8">
        <p class="text-center customFont">My Google Maps Demo</p>
    </div>
    <div class="col-2">
        <figure class="imageDivRight">
            <img class="img-fluid" src="/assets/SoldierSalutingFlag-300x175.jpg" alt="Soldier saluting flag with big flag background.">
        </figure>
    </div>
</div>
<form class="form-inline my-2 my-lg-0 justify-content-center">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>





