@{
    ViewData["Title"] = "Search Maps";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to search for whats near, lets have the search be autofil and be able to search for Education and VSO near by.</p>


<div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item"
            src="https://www.google.com/maps/embed/v1/view?zoom=10&center=43.0389,-87.9065&key=@VetRS.APIKeys.GoogleMapsKey"></iframe>

</div>
