@model VetRS.Models.Education
@section Styles {
    <link rel="stylesheet" href="~/css/user.css" />
}

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<div class="row">
    <div class="col-2 leftlogodiv">
        <figure class="imageDivLeft">
            <img class="img-fluid logo" src="/assets/vetrs.png" alt="Soldier on knees with big backpack and carrying rifle.">
        </figure>
    </div>
    <div class="col-8">
        <h1 class="text-center customFont">Education</h1>
    </div>
    <div class="col-2">
        <figure class="imageDivRight">
            <img class="img-fluid logo" src="/assets/SoldierSalutingFlag-300x175.jpg" alt="Soldier saluting flag with big flag background.">
        </figure>
    </div>
</div>*@

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageLocation" class="control-label"></label>
                <input asp-for="ImageLocation" class="form-control" />
                <span asp-validation-for="ImageLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProgramName" class="control-label"></label>
                <input asp-for="ProgramName" class="form-control" />
                <span asp-validation-for="ProgramName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProgramImageLocation" class="control-label"></label>
                <input asp-for="ProgramImageLocation" class="form-control" />
                <span asp-validation-for="ProgramImageLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProgramBio" class="control-label"></label>
                <input asp-for="ProgramBio" class="form-control" />
                <span asp-validation-for="ProgramBio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EducationStreet" class="control-label"></label>
                <input asp-for="EducationStreet" class="form-control" />
                <span asp-validation-for="EducationStreet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EducationCity" class="control-label"></label>
                <input asp-for="EducationCity" class="form-control" />
                <span asp-validation-for="EducationCity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EducationState" class="control-label"></label>
                <input asp-for="EducationState" class="form-control" />
                <span asp-validation-for="EducationState" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EducationZipCode" class="control-label"></label>
                <input asp-for="EducationZipCode" class="form-control" />
                <span asp-validation-for="EducationZipCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdentityUserId" class="control-label"></label>
                <select asp-for="IdentityUserId" class="form-control" asp-items="ViewBag.IdentityUserId"></select>
                <span asp-validation-for="IdentityUserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <form>
        <div class="form-group">
            <label for="exampleFormControlFile1">Upload Forms Here</label>
            <input type="file" class="form-control-file" id="exampleFormControlFile1">
        </div>
    </form>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
