@model VetRS.Models.MilitaryJobTranslator
@section Styles {
    <link rel="stylesheet" href="~/css/user.css" />
}

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MilitaryJobTranslator</h4>

    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MilitaryJobTitle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MilitaryJobTitle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CivilianJobTitle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CivilianJobTitle)
        </dd>
    </dl>
</div>
<div>

    <a asp-action="Index">Back to List</a>
</div>
