@model VetRS.Models.MilitaryJobTranslator
@section Styles {
    <link rel="stylesheet" href="~/css/user.css" />
}

@{
    ViewData["Title"] = "Details";
}

<div>
    <h1 class="text-center">MilitaryJobTranslator</h1>
    <br />
    <br />
    <figure>
        <img class="logo" src="/assets/vetrs.png" alt="Soldier on knees with big backpack and carrying rifle.">
    </figure>
    <figure>
        <img class="logo2" src="/assets/SoldierSalutingFlag-300x175.jpg" alt="Soldier saluting flag with big flag background.">
    </figure>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MilitaryJobTitle)
        </dt>
        <br />
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MilitaryJobTitle)
        </dd>
        <br />
        <br />
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CivilianJobTitle)
        </dt>
        <br />
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CivilianJobTitle)
        </dd>
    </dl>
</div>
<div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <a asp-action="Index">Back to List</a>
</div>
