@model IEnumerable<VetRS.Models.MilitaryJobTranslator>

@{
    ViewData["Title"] = "Military Job Translator";
}

<h1>Military Job Translator</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MilitaryJobTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CivilianJobTitle)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <form asp-controller="MilitaryJobTranslator" asp-action="Index">
            <p>
                Occupational Specialty: <input type="text" name="SearchString">
                <input type="submit" value="Filter" />
            </p>
        </form>

    </tbody>
    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.MilitaryJobTitle)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CivilianJobTitle)
    </td>
</tr>
    }
</table>
